<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaokuang.api.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.xiaokuang.api.bean.Blog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="header" column="header" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="words" column="words" jdbcType="INTEGER"/>
            <result property="counts" column="counts" jdbcType="INTEGER"/>
            <result property="readTime" column="read_time" jdbcType="INTEGER"/>
            <result property="isTop" column="is_top" jdbcType="INTEGER"/>
            <result property="isPublished" column="is_published" jdbcType="INTEGER"/>
            <result property="isRecommend" column="is_recommend" jdbcType="INTEGER"/>
            <result property="isCommentEnabled" column="is_comment_enabled" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,header,
        content,description,create_time,
        update_time,words,counts,
        read_time,is_top,is_published,
        is_recommend,is_comment_enabled,category_id,
        user_id
    </sql>
</mapper>
